.bbody {
    background-color:#000000;
    background-image: url(/img/imgonline-com-ua-Replace-color-drTkhdB5uyU1B.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .my-btn.button {
    color: #000000;
  }



  .my-btn { 
      margin-right: 5px;           /* задаем отступ от кнопки справа */
      margin-top: 5px;             /* задаем отступ от кнопки сверху*/
      width: 50px;                 /* задаем ширину кнопки */
      height: 50px;                /* задаем высоту кнопки */
      border-radius: 0%;          /* округляем кнопку */
      border: none;                /* отключаем обводку */
      background: #d9cdc4;         /* задаем серый цвет кнопки */
      color: white;                /* задаем белый цвет текста внутри кнопки */
      font-size: 1.5rem;           /* увеличим размер шрифта */
      font-family:BenchNine;      /* сменим шрифт */
      cursor: pointer;             /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
      user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
      font-weight: bold;          /* жирность шрифта */
    } 
    
    /* hover - это состояние элемента, когда на него наведен курсор */
    .my-btn:hover {
      background: rgb(171, 145, 113); /* при наведение курсора на кнопку, она будет окрашена в серый */
    }
    
    /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
    .my-btn:active {
      filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
    }
    
    /* селектор для кнопок первостепенных операций */
    .my-btn.primary { 
      background: #1D3B3B; /* цвет кнопки оранжевый */
    }
    
    /* селектор для кнопок второстепенных операций */
    .my-btn.secondary { 
      background: #67341A;  /* цвет кнопки сервый */
  
    }
    
    /* селектор для кнопки расчета выражения (=) */
    .my-btn.execute {
      border-radius: 0px;   
      background: #04251a;
    }

    .my-btn.change {
      width: auto;
      height: auto;
      border-radius: 1px;
    }
    
    /* селектор для поля вывода результата */
    .result { 
      width: 220px;
      height: 100px;
      border-radius: 20px;
      margin-bottom: 15px;         /* отступ снизу */
      padding-right: 10px;         /* выступ справа */
      background: #6e3b21; /* цвет можно задавать и таким образом */
      text-align: right;            /* примагнитим текст к правой стороне */
      color: #ffffff;              /* цвет текста белый */
      font-size: 1.5rem;
      font-family: BenchNine;
    }
  
      /* текст об авторе ЛБ */
    .textAuthor {
      text-align: center;
      color:#3d1d06
    }

    .info_autor {
        text-align: center;
    }

    #b_swap_color {
        width: 150px;
        height: auto;
    }

    #link_git {
        color: #3b6c52;
    }
    
      /* поровнять кнопку с автором*/
    .Author {
      position: absolute;
      margin-top: 5%;
      width: 100%;
    }
  
    /* текст для чего эта ЛР. По центру, тк родитель отцентрован*/
    .description {
      color:#04251a;
      position: absolute;
      margin-top: 20%;
      text-align: center;
    }
